<!DOCTYPE html>
<!-- Website by Ian Rash @ sol.vin -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>pixel_lang</title>

    <link href="/fonts/css/all.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/slick/slick.css" rel="stylesheet">
    <link href="/breadplease/main.css" rel="stylesheet">

    <script src="/jquery/jquery.js"></script>
    <script src="/popper/popper-utils.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/slick/slick.min.js"></script>



    <!-- <meta http-equiv="refresh" content="2"> -->
    <%= yield_content "head" %>
  </head>
  <body>
    <div class="bgcolor1">
      <%= render_file "navbar/main" %>

      <%= content %>

    </div>

    <script type="text/javascript">
    $(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('.single-item').slick({
            infinite: true,
            speed: 200,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 5000,
            prevArrow: false,
            nextArrow: false,
            lazyLoad: 'anticipated'
        });
    })
    </script>

    <%= yield_content "footer" %>
  </body>
</html>